.reel::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.reel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  h1{
    color: white;
    margin: 0;
  }
}

.reel {
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  width: 450px;
  height: 750px;
  margin-bottom: 1rem;
}
.swiper{
  width: 100%;
  height: 100%;
}
.reel-cards {
  display: grid;
  grid-template-columns: 1fr;
}
.reel-card {
  width: 450px;
  height: 750px;
  font-size: 24px;
  text-align: center;
  color: black;
  h3{
    font-size: 1.15rem;
  }
  .alternativas{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .alternativa{
      font-size: 1.1rem;
    }
    .alternativa.ativa{
      border: solid 2px white;
    }
  }
}

.reel-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}
